/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  color: #222;
  font-family: 'Crimson Text', serif;
}

.container {
  margin: auto;
}

.head {
  background: url(../img/trees.jpg) no-repeat;
  height: 550px;
  text-align: center;
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 640px) {
  .head {
    height: auto;
  }
}

.tree {
  background: url(../img/trees.jpg) no-repeat;
}

.cliffs {
  background: url(../img/cliffs.jpg) no-repeat;
}

.clovers {
  background: url(../img/clovers.jpg) no-repeat;
}

.logo img {
  width: 275px;
}

.menu {
  padding: 20px 0;
  transition: all 0.3s ease 0s;
  width: 100%;
}
.menu li {
  display: inline-block;
}
.menu a {
  color: #fff;
  display: inline-block;
  font-size: 1.2em;
  padding: 0 20px;
  text-decoration: none;
}
.menu a:hover {
  text-decoration: underline;
}

.fixed {
  background: #fff;
  box-shadow: 0 0 5px #999;
  position: fixed;
  top: 0;
}
.fixed a {
  color: #999;
}

.contain {
  margin: auto;
  max-width: 1080px;
  /* width: 77.777778%;*/
}
.contain article {
  margin: 20px auto 80px;
  width: 90%;
}
.contain article h1 {
  font-size: 35px;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .contain article h1 {
    font-size: 20px;
  }
}
.contain article h2 {
  color: #226d38;
  font-size: 45px;
  text-align: center;
}
.contain article h2 + img {
  text-align: center;
}
.contain article p {
  margin: 20px 0;
}

.diff_color {
  color: #226d38;
}
@media screen and (max-width: 640px) {
  .diff_color {
    display: block;
  }
}

.intro {
  text-align: center;
}
.intro p {
  color: #999;
  font-size: 27px;
  line-height: 1.5;
}
@media screen and (max-width: 640px) {
  .intro p {
    font-size: 16px;
  }
}

.bio p {
  font-size: 1.1em;
  line-height: 1.3;
}

.hpattern {
  display: block;
  text-align: center;
  width: 100%;
}
.hpattern img {
  margin: 20px auto;
  max-width: 100%;
}
